

body {
    background-color: #ffffff;
}

/** menu **/
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tutorial {
  margin: 3% 1% 2% 1%;
  background-color: #ffffff;
}

.tutorial ul {
  font-size: 0;
  list-style-type: none;
}
.tutorial ul li {
  font-family: 'Square Peg', cursive;
  font-size: 2rem;
  font-weight: 400;
  color:  #000000;
  display: inline-block;
  padding: 15px 50px;
  position: relative;
}
.tutorial ul li ul {
  display: none;
}
.tutorial ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.tutorial ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #53624f;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.tutorial ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.tutorial ul li:hover ul li:hover span {
  background-color: #ce637a;
} 
.tutorial ul li .up {
  padding: 15px;
}
/****/



.u-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imgheader {
  width: 60%;
  justify-content: center;
  margin-bottom: 4%;
}
.menulogo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.imagelogo {
  justify-content: center;
 
}


.u-h1 {
  width: 100%;
  box-shadow: 1px 1px red, 1em 0 1em olive;
  font-size: 90px;
  text-align: center;
  object-fit: contain;
  border-radius: 41px;
}
.u-h2 {
  font-size: 35px;
  object-fit: contain;
  position: relative;
  display: inline-block;
  left: 60%;
}



/* Site em manutenção
body{
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
    text-align: center;
  }

  .box{
    background-color: #fff;
    width: 500px;
    margin: 50px auto;
  }

  #title {
    font-size: 30px;
    margin-top: 25px;
  }

  #logo {
    margin-top: 25px;
    max-width: 365px;
    height: auto;
  }
  
  #logo-task {
    width: 75px;
  }
  
/******************************************************************/
/* main */

.flowers10 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: all .1s ease-in-out;
 }

 .cat {
  height:100%;
  width: 100%;
  display: inline-block;
 }

 .u-p {
  margin: 3% 10%;
 }






/* modernization */
.c-featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #a1b49d;
}
.c-featured__cover {
  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
}
.c-featured__description {
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
}
@media (max-width: 1379.98px){
    .c-featured__description {
      padding: 40px 0 80px;
    }
  }
.c-featured__description h2 {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.31;
  color: #53624f;
  max-width: 500px;
}
.c-featured__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #53624f;
  max-width: 500px;
  margin: 40px 0 70px;
}
.c-button.--secondary {
  color: #53624f;
  background-color: #c5b889;
}

.c-button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  text-align: center;
  color: #e0e1df;
  padding: 22px 30px 25px;
  border-radius: 37.5px;
  border: 1px solid rgba(0,0,0,0);
  background-color: #c4752d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
a {
  color: inherit;
}
a, button {
  outline: 0;
}
a {
  text-decoration: none;
}







/* footer */
.u-footer {
  height: 100%;
  width:100%;
  background: #ddd;
}
.rodape {
  width: 100%;
  padding: 60px 0;
  background-color: #9e7979;
}
.copyright {
  text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	margin: 20px 0 0;
}



/* MEDIA MIN-MAX teste */
@media screen and (max-width: 1000px){
  .imagelogo {
    width: 70%;
  }
  .imgheader {
    width: 80%;
  }
}

@media screen and (min-width: 1000px){
  
}


